
.input_box {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 12px;
    width: 500px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  .calc-button {
    text-align: center;
  }
  

.float_container {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.float_child {
    width: 50%;
    height: 40px;
    float: left;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    text-align: center;
}  

.h1 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.calc_but {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  width: 250px;
  margin-left: 710px;
  text-align: center;
  
}

.reset_button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 12px;
  width: 250px;
  margin-left: 960px;
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}

.calc_loan_box {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: .5rem;
  border-radius: 12px;
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: 0;
  text-align: center;

}

.calc_price_but {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 250px;
  margin-left: auto;
  text-align: center;
}